/** Base colors */
$clr-dark-a0: #000000;
$clr-light-a0: #ffffff;

/** Theme primary colors */
$clr-primary-a0: #5e9d10;
$clr-primary-a10: #72a835;
$clr-primary-a20: #84b350;
$clr-primary-a30: #96bd69;
$clr-primary-a40: #a8c882;
$clr-primary-a50: #bad39a;

/** Theme surface colors */
$clr-surface-a0: #121212;
$clr-surface-a10: #282828;
$clr-surface-a20: #3f3f3f;
$clr-surface-a30: #575757;
$clr-surface-a40: #717171;
$clr-surface-a50: #8b8b8b;

/** Theme tonal surface colors */
$clr-surface-tonal-a0: #1a1e15;
$clr-surface-tonal-a10: #2f332a;
$clr-surface-tonal-a20: #454941;
$clr-surface-tonal-a30: #5d6059;
$clr-surface-tonal-a40: #767972;
$clr-surface-tonal-a50: #90928d;